ConsoleApplication/Service References/AuthorsServiceReference/AuthorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64163/AuthorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64163/AuthorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64163/AuthorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorService_getAuthorsList_InputMessage">
    <wsdl:part name="parameters" element="tns:getAuthorsList" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_getAuthorsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAuthorsListResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_addAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:addAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_addAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_deleteAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_deleteAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_isAuthorInDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:isAuthorInDatabase" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_isAuthorInDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAuthorInDatabaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorService">
    <wsdl:operation name="getAuthorsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/getAuthorsList" message="tns:IAuthorService_getAuthorsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/getAuthorsListResponse" message="tns:IAuthorService_getAuthorsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/addAuthor" message="tns:IAuthorService_addAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/addAuthorResponse" message="tns:IAuthorService_addAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/deleteAuthor" message="tns:IAuthorService_deleteAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/deleteAuthorResponse" message="tns:IAuthorService_deleteAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAuthorInDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorService/isAuthorInDatabase" message="tns:IAuthorService_isAuthorInDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorService/isAuthorInDatabaseResponse" message="tns:IAuthorService_isAuthorInDatabase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorService" type="tns:IAuthorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAuthorsList">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/getAuthorsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/addAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAuthor">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/deleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAuthorInDatabase">
      <soap:operation soapAction="http://tempuri.org/IAuthorService/isAuthorInDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorService">
    <wsdl:port name="BasicHttpBinding_IAuthorService" binding="tns:BasicHttpBinding_IAuthorService">
      <soap:address location="http://localhost:64163/AuthorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>